version: "3.9"

networks:
  devnet:
    external: true

services:
  catalog-api:
    build:
      context: .
      dockerfile: Catalog.Api/Dockerfile
    image: catalog.api:dev
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://0.0.0.0:8080
      ConnectionStrings__CatalogDb: Host=postgres;Port=5432;Database=mydb;Username=admin;Password=admin
      RabbitMQ__Host: rabbitmq
      RabbitMQ__Port: 5672
      RabbitMQ__User: admin
      RabbitMQ__Pass: admin
      ServiceName: catalog-api
    ports:
      - "8088:8080"
    restart: unless-stopped
    networks: [devnet]
